[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"attrs" = "*"
"click" = "*"
"parsy" = "*"
"pbr" = "*"

[dev-packages]
"bashlex" = { editable = true, path = "." }
"black" = "*"
"flake8" = "*"
"ipdb" = "*"
"ipython" = "*"
"isort" = "*"
"pytest-clarity" = "*"
"pytest-cov" = "*"
"pytest" = "*"
"sphinx" = "*"

[pipenv]
allow_prereleases = true
